header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
footer { grid-area: f; }

body {
  display: grid;
  grid: " n   n   n  " 5em
        ".   h   ." 8em
        " m   m   .  " 50em
        " m   m   ." 30em
        " f   f   f  " 50em
        /30em 30em 30em;
}
