header {
    background-color: #0d3d25;
    display: flex;
    align-items: center;
  } 
h1{ 
  font-family: 'Abril Fatface', cursive;
    font-size: 60px;
}
h2{ 
    font-size: 30px;
    color: rgb(40, 48, 92);
    font-family: 'Oswald', sans-serif;
    
}

p{
  font-family: 'Roboto', sans-serif;
}

main{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #DDDDDD;
}
img{
  width: 30%;
}

a {
  text-decoration: none;
  display: inline;
  text-align: center;
  color: black;
  width: 800px;
  margin-left: 90px;
  margin right: 90px;
  font-size: 30px; 
}

div {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

nav {


  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#4e8165;
  color: black;
  font-family: 'Bebas Neue', cursive;

}

footer {
    height: 3em;
    background-color:#1f693c;
  }
  footer p {
    text-align: center;
    font-size: 20px;

  }