header {
    background-color: #0d3d25;
    display: flex;
    align-items: center;
  } 
h1{ 
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
}
h2{ 
    font-size: 30px;
    color: rgb(40, 48, 92);
    font-family: 'Oswald', sans-serif;
    
}

main{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #DDDDDD;
}
img{
  width: 30%;
}


footer {
    height: 3em;
    background-color:#1f693c;
  }
  footer p {
    text-align: center;
    font-size: 20px;
  }