header {
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
  } 
h1{ 
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;
}
h2{ 
    font-size: 50px;
    color: rgb(167, 168, 201);
    font-family: 'Oswald', sans-serif;
    
}
a { 


}
main{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #DDDDDD;
}
img{
  width: 30%;
}
footer {
    height: 3em;
    background-color: #9fddd3;
  }
  footer p {
    text-align: center;
    font-size: 20px;
  }